body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 260px;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #6f6c6c;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

input[type="button"] {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #8a8787;
    transition: all 0.3s ease;
}

input[type="button"]:hover {
    background-color: #ddd;
}

input[type="button"]:active {
    background-color: #bbb;
}

input[type="button"]:nth-child(11),
input[type="button"]:nth-child(12),
input[type="button"]:nth-child(13),
input[type="button"]:nth-child(14) {
    background-color: #f79c42;
    color: white;
}

input[type="button"]:nth-child(11):hover,
input[type="button"]:nth-child(12):hover,
input[type="button"]:nth-child(13):hover,
input[type="button"]:nth-child(14):hover {
    background-color: #e6892b;
}

input[type="button"]:nth-child(15) {
    background-color: #42f78d;
    color: white;
}

input[type="button"]:nth-child(15):hover {
    background-color: #37d877;
}

input[type="button"]:nth-child(15):active {
    background-color: #2db85f;
}

.row {
    display: flex;
    justify-content: space-between;
}